<div *ngFor="let book of books" class="card" aria-current="false">
    <div class="card__top-section">
        <div class="card__title">
            <a [href]="book.amazon_product_url" target="_blank">{{ book.book_details.title | uppercase }}</a>
        </div>

        <div class="card__author">
            by
            <a [routerLink]="['/book-list']" itemprop="author" [innerHTML]="book.book_details.author | bold"></a>
        </div>
    </div>
    <div class="card__middle-section">
        <div class="card__photo">
            <img src="https://img.thriftbooks.com/api/images/m/3a4850c84fb9d2b2a55e5fb1526261773dad55fb.jpg" alt="Beginning Angular with Typescript (Updated to Angular 6)" />
        </div>
        <div class="card__dataPoints">
            <div class="card__price" [ngClass]="getCurrencyColor(book.book_details.price)">
                {{ book.book_details.price | currency }}
            </div>
            <div class="card__rank">
                <strong>Rank: {{ book.rank }}</strong>
            </div>
            <div class="card__info">
                <div class="card__info-published">
                    Published Date:
                    <strong>{{ book.published_date | date }} </strong>
                </div>
                <div class="card__info-bestseller">
                    Best seller from:
                    <strong>{{ book.bestsellers_date | date: "MM/dd/yyyy" }}</strong>
                </div>
                <div class="card__info-filesize">
                    Filesize:
                    <strong title="">{{ book.book_details.file_size_kb | toMB }}</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="card__bottom-section">
        <a [href]="book.amazon_product_url" target="_blank">
            <input class="button" type="button" value="Go to Amazon" />
        </a>
    </div>
</div>
